<nav class="navbar navbar-expand-sm bg-dark"><a class="navbar-brand" href="/landlord/home/<%= uid %>">Home</a>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav ml-auto">
        <a class="btn btn-outline-success btn-md btn-group mr-2" href="/landlord/home/<%= uid %>/property">Add Property </a>
        <a class="btn btn-outline-success btn-md" id="logout" href="#">Log Out</a>
    </div>
  </div>
</nav>