<nav class="navbar navbar-expand-sm bg-dark"><a class="navbar-brand" href="/tenant/home/<%= uid %>">Home</a>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav ml-auto">
        <a class="nav-link nav-item" id="logout" href="#">Log Out</a>
    </div>
  </div>
</nav>