<nav class="navbar navbar-expand-sm bg-dark"><a class="navbar-brand" href="/">Home</a>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav ml-auto">
        <a class="nav-link nav-item" href="/landlord/login">Landlord Login </a>
        <a class="nav-link nav-item" href="/tenant/login">Tenant Login</a>
    </div>
  </div>
</nav>