<html>
<head>
  <title><%= title %></title>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" href="/assets/css/prop.css">
</head>
<body>
  <% include ../partials/nav %>
  <div class="row">
    <div class="col-md-12 text-center">
      <button type="button" id="<%= buttonid %>" class="btn btn-secondary btn-md">Login with google</button>
    </div>
  </div>
  <% include ../partials/footer %>
</body>
</html>