<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Memory Leak</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Custom styles for this template -->
<link href="../../public/assets/css/payments.css" rel="stylesheet">
<link href="../../public/assets/css/myprops.css" rel="stylesheet">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #153F66;"> <a class="navbar-brand" href="#"><button type="button" class="btn btn-outline-success btn-md btn-group">Back &#124; Cancel</button></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li>
          <button type="button" class="btn btn btn-outline-success btn-md">Login Out</button>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center caption"><span class="tenant">Your</span><span span class="pros">Property</span></h1>
    <p class="lead text-center">Add or Edit your Tenants property</p>
  </div>
</div>

<!-- container -->
<div class="container form_outline">
	<div class="row title_prop">
		<h3>Add / Edit Property</h3>
	</div>	
	
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress1">Adress Line</label>
      <input type="text" class="form-control" id="inputAddress1" placeholder="">
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress2">Address Line</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="">
    </div>
  </div>
		
<div class="form-row">		
<div class="form-group col-md-6">
      <label for="inputAddress1">City</label>
      <input type="text" class="form-control" id="inputCity1" placeholder="">
    </div>
    <div class="form-group col-md-6">
      <label for="inputCity2">City</label>
      <input type="text" class="form-control" id="inputCity2" placeholder="">
    </div>
  </div>
	
<div class="form-row">		
<div class="form-group col-md-6">
      <label for="inputZip1">Zip</label>
      <input type="text" class="form-control" id="inputZip1" placeholder="">
    </div>
    <div class="form-group col-md-6">
      <label for="inputZip2">Zip</label>
      <input type="text" class="form-control" id="inputZip2" placeholder="">
    </div>
  </div>
		
<div class="form-row">		
<div class="form-group col-md-3">
      <label for="inputBeds">Beds</label>
      <input type="text" class="form-control" id="inputBeds" placeholder="2">
    </div>
    <div class="form-group col-md-3">
      <label for="inputBath">Bath</label>
      <input type="text" class="form-control" id="inputBath" placeholder="2">
    </div>
<div class="form-group col-md-3">
      <label for="inputFeet">Sq Feet</label>
      <input type="text" class="form-control" id="inputFeet" placeholder="1200">
    </div>
    <div class="form-group col-md-3">
      <label for="inputPrice">Price</label>
      <input type="text" class="form-control" id="inputPrice" placeholder="900">
    </div>	
</div>		
<div class="form-row">		
 <div class="form-group col-md-6 col-sm-4">
  <label for="stat">Status</label>
  <select class="form-control" id="stat">
    <option>Occupied</option>
    <option>Vacant</option>
  </select>
</div>
 <div class="form-group col-md-6 col-sm-4">
  <label for="tenant">Status</label>
  <select class="form-control" id="tenant">
    <option>Michael Madison</option>
    <option>Jousha Murry</option>
	<option>Olivia Mathew</option>
	<option>Christopher Dunn</option>
	<option>Charles Wells</option>
   <option>Ruby Martin</option>  
 </select>
</div>
</div>
</form>
<!-- /.row  --> 
</div>
<!-- /.container --> 

<!-- Footer -->
<footer class="footer col-sm-12">
  <div class="container">
    <p class="float-right text-muted"><a href="#" class="text-muted">Back to top</a></p>
    <p><span class="float-left text-muted">&copy;2018 Memory Leak Team Project</span></p>
  </div>
</footer>

<!-- Bootstrap core JavaScript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
