<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Memory Leak</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Custom styles for this template -->
<link href="../../public/assets/css/payments.css" rel="stylesheet">
<link href="../../public/assets/css/myprops.css" rel="stylesheet">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #153F66;"> <a class="navbar-brand" href="#">My Properties</a> <a class="navbar-brand" href="#">Payments</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li>
          <button type="button" class="btn btn-outline-success btn-md btn-group mr-2">+ Add Property</button>
        </li>
        <li>
          <button type="button" class="btn btn btn-outline-success btn-md">Login Out</button>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center caption"><span class="tenant">Your</span><span span class="pros">Property</span></h1>
    <p class="lead text-center">Payment Hisory</p>
  </div>
</div>

<!-- container -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Property</th>
            <th scope="col">Tenant</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Time Passed</th>
          </tr>
        </thead>
        <tbody>
          <tr>
           <td>321 Peachtree Street<br >
              Atlanta GA 30303</td>
            <td>David Smith</td>
            <td>1200</td>
            <td>12/12/12</td>
            <td>45 Days Ago</td>
          </tr>
          <tr>
            <td>321 Peachtree Street<br >
              Atlanta GA 30303</td>
            <td>David Smith</td>
            <td>1200</td>
            <td>12/12/12</td>
            <td>45 Days Ago</td>
          </tr>
          <tr>
           <td>321 Peachtree Street<br >
              Atlanta GA 30303</td>
            <td>David Smith</td>
            <td>1200</td>
            <td>12/12/12</td>
            <td>45 Days Ago</td>
          </tr>
          <tr>
          <td>321 Peachtree Street<br >
              Atlanta GA 30303</td>
            <td>David Smith</td>
            <td>1200</td>
            <td>12/12/12</td>
            <td>45 Days Ago</td>
          </tr>
          <tr>
            <td>321 Peachtree Street<br >
              Atlanta GA 30303</td>
            <td>David Smith</td>
            <td>1200</td>
            <td>12/12/12</td>
            <td>45 Days Ago</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <!-- /.row --> 
</div>
<!-- /.container --> 

<!-- Footer -->
<footer class="footer col-sm-12">
  <div class="container">
    <p class="float-right text-muted"><a href="#" class="text-muted">Back to top</a></p>
    <p><span class="float-left text-muted">&copy;2018 Memory Leak Team Project</span></p>
  </div>
</footer>

<!-- Bootstrap core JavaScript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
